
body  {

  background-image: url("images/background.jp");
  background-repeat: no-repeat;
  background-size: cover;

}
#home  {
  position: relative;
  perspective: 1000px;
}
.zuverlassigen p { 
color: #000;
font-size: 23px;

}

.service{

  display: flex;


}
.notdienstnumber {
  width: 17%;
  padding-left: 70%;
  

}

.notdienstnumber table {
  width: 100%;
  border-collapse: collapse;
}

.notdienstnumber th, td {
  padding: 8px;
  
  border-bottom: 1px solid #ffffff;
}



.text {
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  width: 100%;
  text-align: center;
}

.text span {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  color: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px;
}

.overlay span {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
  }
  
  /* Styles for the heading text */
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Styles for the navigation */
  nav {
    margin-top: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  #services {
    padding-top: 10%;
  }
  footer  {
   
   padding-top: 20%;

  }
  .Servicebereich {
    flex: 1; /* Expand to fill the remaining vertical space */
    display: flex;
    justify-content: center;
    padding: 20px;
    
  }
  
  
  .Servicebereich table  {
   
    background-color: rgb(64, 63, 70);
    width: 25% ;
    border-radius: 50%;
    height: 50px;
  }
  .Servicebereich th  {
   
   color: rgb(255, 255, 255);
    
   
    
  }
